<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Yap</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>N8N_WEBHOOK_URL</key>
	<string>$(N8N_WEBHOOK_URL)</string>
	<key>N8N_AUTH_TOKEN</key>
	<string>$(N8N_AUTH_TOKEN)</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Yaip needs calendar access to suggest meeting times when you're available. We only check if you're busy or free, never read event details.</string>
</dict>
</plist>
